llama-index-llms-ollama
#llama-index-embeddings-huggingface
llama-index-embeddings-ollama
llama-index
pandas
matplotlib
sqlite-utils
ipython

pyvis
psycopg2-binary
rich
requests
python-dotenv
arize-phoenix
llama-index-callbacks-arize-phoenix