<!-- welcome.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Welcome</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				text-align: center;
				margin-top: 50px;
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
			.welcome {
				font-size: 2em;
				color: #333;
			}
			.iframe-container {
				width: 1600px; /* Set your preferred max width */
				height: 500px;
				overflow: hidden;
				border-radius: 10px;
				border: none;
			}
			.iframe-container iframe {
				width: 100%;
				height: 100%;
				border: none;
			}
		</style>
	</head>
	<body>
		<div class="">
			<h1 class="welcome">Welcome!</h1>
			<p>Welcome to DataHub Chatbot</p>

			<div class="iframe-container">
				<iframe src="https://cataas.com/cat"></iframe>
			</div>
		</div>
	</body>
</html>
